/*Phone Size*/
@media screen and (min-width: 375px){

/*HTML Scroll*/
html{
    scroll-behavior: smooth;
}

/*Body*/
body{
  height: 100%;
  text-align: center;
  font-family: 'Roboto', 'Arial', sans-serif;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url(../images/website-background.jpg);
}

/*Focus Elements*/
*{
  box-sizing: border-box;
}

/*Home Button*/
.home-button{
  float: left;
  width: 30px;
  padding-top: 55px;
  padding-left: 5px;
}

.home-button a{
  color: #FFFFFF;
  font-size: 20px;
}

/*Search Bar */
.search-bar{
  overflow: hidden;
  background-color: #263926;
}

.search-bar a{
  float: right;
  display: block;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
}

.search-bar input[type=text]{
  float: right;
  border: none;
  padding: 6px;
  width: 180px;
  font-size: 12px;
  margin-top: 10px;
  margin-right: 15px;
}

/*Navigation*/
nav{
  background-color: #263926;
}

nav a{
  color: #FFFFFF;
  font-size: 8px;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover{
  color: #000000;
  font-weight: bold;
  text-decoration: underline;
}

nav li{
  padding: 10px 10px 8px 10px;
}

.nav-list-items{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*Dropdown Menus*/ 
.dropdown-menu{
  position: relative;
  display: inline-block;
}

.dropdown-content{
  z-index: 1;
  display: none;
  min-width: 160px;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a{
  color: #000000;
  display: block;
  padding: 12px 16px;
  text-decoration: none;
}

.dropdown-content a:hover{
  background-color: #f1f1f1;
}

.dropdown-menu:hover .dropdown-content{
  display: block;
}

.dropdown-menu:hover{
  background-color: #3e8e41;
}

/*Background Video*/
.background-video{
  margin: 0 auto;
  display: block;
}

.background-video-title{
  top: 25%;
  left: 35%;
  color: #000000;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  transform: translate(-25%, -25%);
  -webkit-transform: translate(-25%, -25%);
  text-shadow: 1px 1px 2px #FFFFFF, 0 0 25px #000000;
}

/*Headings*/
h1, h2, h3, h4, h5, h6{
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  font-family: Helvetica, 'Arial', sans-serif;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  text-shadow: 1px 1px 2px #FFFFFF, 0 0 25px #000000;
}

/*Paragraphs*/
p{
  color: #000000;
  font-size: 18px;
}

/*Example Images*/
.examples{
  width: 500px;
}

/*Icons and Headshots*/
.icons-and-headshots{
  width: 300px;
}

/*Icons and Headshots Paragraph Text*/
.icons-and-headshots-text{
 text-align: left; 
 font-weight: none;
 text-shadow: none;
 padding: 30px 30px 30px 30px;
}

/*Image Grid*/
.grid-container{
  display: grid;
  padding-left: 30px;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

.grid-container > img{
  padding-bottom: 30px;
}

/*Online Store*/
.pricing{
  display: flex;
  flex-wrap: wrap;
  min-height: 500px;
  align-items: center;
  justify-content: center;
}

.card{
  margin: 12px;
  background: #fff;
  flex-basis: 400px;
  border-radius: 7px;
  padding: 0 0 50px 0;
}

.card > header{
  padding: 20px 0;
  background: #263926;
  border: 2px solid #45ADAD;
  border-radius: 7px 7px 0 0;
}

.card > ul{
  list-style: none;
  padding: 0;
}

.card > ul li{
  width: 90%;
  margin: 20px auto;
}

.card button{
  border: 0;
  width: 90%;
  height: 40px;
  color: white;
  font-size: 1em;
  margin-left: 12px;
  border-radius: 7px;
  background: #263926;
}

.card h3{
  color: white;
  font-size: 4em;
  text-align: center;
}

.card_big{
  -webkit-transform: initial;
          transform: initial;
}

/*Contact Form*/
form{
  width: 300px;
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #263926;
}

form label{
  color: #FFFFFF;
  font-size: 20px;
}

input, select, textarea{
  width: 260px;
  border: none;
  padding: 10px;
  text-align: left;
  margin-bottom: 5px;
  outline-color: #000000;
}

input[type="submit"]{
  width: initial;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  padding: 15px 15px;
  border-radius: 5px;
  background-color: #000000;
  transition: background-color 800ms;
  -webkit-transition: background-color 800ms;
}

input[type="submit"]:hover{
  color: #000000;
  background-color: #C0C0C0;
}

/*Scroll Button*/
.scroll-button{ 
  z-index: 99; 
  border: none; 
  outline: none;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  padding: 9px 9px 9px 9px;
  background-color: #263926;
}

.scroll-button:hover{
  color: #000000;
  background-color: #C0C0C0; 
}

.button-right{
  text-align: right;
  padding-right: 10px;
  padding-bottom: 10px;
}

/*MAHQ Logo*/
.mahq-logo{
  width: 50px;
  float: left;
  padding-top: 12px;
  padding-left: 10px;
}

/*Footer*/
footer{
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed bottom;
  background-color: #263926;
}

footer p{
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
}

/*Tablet Size*/
@media screen and (min-width: 760px){

/*Navigation*/
nav a{
  font-size: 15px;
}

nav li{
  padding: 15px 15px 8px 15px;
}

.nav-list-items{
  justify-content: center;
}

/*Header*/
.background-video-title{
  top: 25%;
  left: 36%;
  font-size: 30px;
  transform: translate(-30%, -30%);
  -webkit-transform: translate(-30%, -30%);
}

/*Headings*/
h1, h2, h3, h4, h5, h6{
  font-size: 30px;
}

/*Paragraphs*/
p{
  font-size: 20px;
}

/*Example Images*/
.examples{
  width: 600px;
}

/*Icons and Headshots*/
.icons-and-headshots{
  width: 500px;
}

/*Image Grid*/
.grid-container{
  padding-left: 250px;
}


/*Contact Form*/
form{
  width: 400px;
  padding-left: 25px;
  padding-right: 40px;
}

input, select, textarea{
  width: 350px;
}

/*Footer*/
footer p{
  font-size: 18px;
}
}

/*Desktop Size*/
@media screen and (min-width: 1050px){

/*Home Button*/
.home-button a{
  font-size: 25px;
}

/*Header*/
.background-video-title{
  top: 25%;
  left: 42%;
  font-size: 35px;
  transform: translate(-25%, -25%);
  -webkit-transform: translate(-25%, -25%);
}

/*Headings*/
h1, h2, h3, h4, h5, h6{
  font-size: 35px;
}

/*Navigation*/
nav a{
  font-size: 18px;
}

nav li{
  padding: 15px 15px 8px 15px;
}

.nav-list-items{
  justify-content: flex-end;
}

/*Paragraphs*/
p{
  font-size: 22px;
}

/*Example Images*/
.examples{
  width: 800px;
}

/*Icons and Headshots*/
.icons-and-headshots{
  width: 300px;
}

/*Image Grid*/
.grid-container{
  padding-left: 250px;
}

/*Contact Form*/
form{
  width: 400px;
  padding-left: 25px;
  padding-right: 40px;
}

input, select, textarea{
  width: 350px;
}

/*Footer*/
footer p{
  font-size: 20px;
}
}

/*Reduced Motion Aceesibility*/
@media screen and (prefers-reduced-motion: reduce){
html{
  scroll-behavior: auto; 
}

/*Turns off Parallax Image*/
body{
  background-attachment: scroll;
}
}
